footer.footer

.vectors
	<svg id="icn-arrow-btn" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_63_75)"><path d="M22.6663 9.33337L9.33301 22.6667" stroke="var(--color-arr)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.667 9.33337H22.667V21.3334" stroke="var(--color-arr)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_63_75"><rect width="32" height="32" fill="white"/></clipPath></defs></svg>

	<svg id="icn-arrow-next" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_36_1399)"><path d="M8.11035 19H29.8881" stroke="var(--color-arr)" stroke-width="2" stroke-linecap="round"stroke-linejoin="round"/><path d="M23.666 25.2222L29.8882 19" stroke="var(--color-arr)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M23.666 12.7778L29.8882 19.0001" stroke="var(--color-arr)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_36_1399"><rect width="37.3333" height="37.3333" fill="white" transform="translate(0.333008 0.333496)"/></clipPath></defs></svg>

	<svg id="icn-arrow-prev" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.8887 19.0005L8.1109 19.0005" stroke="var(--color-arr)" stroke-width="2" stroke-linecap="round"stroke-linejoin="round"/><path d="M14.333 12.7783L8.11079 19.0005" stroke="var(--color-arr)" stroke-width="2" stroke-linecap="round"stroke-linejoin="round"/><path d="M14.333 25.2227L8.11079 19.0004" stroke="var(--color-arr)" stroke-width="2" stroke-linecap="round"stroke-linejoin="round"/></svg>

	<svg id="icn-acc" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="1" clip-path="url(#clip0_36_1305)"><path d="M16 6.6665L16 25.3332" stroke="var(--black)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8 17.3335L16 25.3335" stroke="var(--black)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M24 17.3335L16 25.3335" stroke="var(--black)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_36_1305"><rect width="32" height="32" fill="white" transform="matrix(0 1 -1 0 32 0)"/></clipPath></defs></svg>



.scroll-top КНОПКА НАВЕРХ