header.header
	._container 
		.header__wrap 
			.header__top
				a.header__logo(href="")
					span SSL
					span AI
				.header__menu 
					a.header__menu-link(href="#services") Услуги 
					a.header__menu-link(href="#about") О нас
					a.header__menu-link(href="#blog") Блог
					a.header__menu-link(href="#contacts") Контакты
					button.btn.header__btn Призыв
				.burger
			h1.header__title Разработка искусственного интеллекта (AI) для вашего бизнеса и автоматизация бизнес процессов
			.consult 
				img(src="img/v1.svg", alt="")
				p.consult__text Разрабатываем и внедряем системы искусственного интеллекта, нейронных сетей и машинного обучения с учетом требований вашего бизнеса
				button.btn.consult__btn Получить консультацию
		